.container
	@extends .col, .align, .fluid
	background-color #f5f5f5
	
.menu
	z-index 10
	position absolute
	top 20px
	left 20px
	display flex
	
	.hamburger
		@extends .rounded
		height 70px
		width 70px
		display flex
		.hamburger-inner
			background-color rgba(0, 0, 0, 0.5)
			&:after, &:before
				background-color rgba(0, 0, 0, 0.5)
		
	.options
		display flex
		align-items center
		opacity 0
		margin-left -50px
		pointer-events none
		transition all 0.3s ease 

		&.opened
			opacity 1
			margin-left 20px
			pointer-events all
		
		.option
			@extends .rounded, .clickable, .align
			width 50px
			height 50px
			text-decoration none
			color rgba(0, 0, 0, 0.5)
			
			i
				font-size 30px