.dom-loader
	z-index 2
	height 3px
	position fixed
	top 0px
	left 0px
	min-width 0px
	width 10%
	transition 0.3s width ease
	background-color red

.body-loader
	position fixed
	z-index 1
	top 0px
	bottom 0px
	left 0px
	right 0px
	
	background-color black;
	color white
	
	display flex
	align-items center
	justify-content center
	
	opacity 1
	transition 0.3s opacity ease
	
	&.hide
		opacity 0