.game-transition
	z-index 11
	background #2c3e50
	position fixed
	width 0px
	height 0px
	border-radius 50%
	opacity 1
	transition-property width, height, top, left, opacity
	transition-duration 1.5s
	transition-timingFunction ease
	overflow hidden
	pointer-events none

.game-transition-msg
	@extends .col, .align
	color white
	position fixed
	top 0px
	left 0px
	width 100vw
	height 100vh

.game
	@extends .col, .align
	background-color #2c3e50
	width 100vw
	height 100vh
	
#game-canvas
	width auto
	height auto
	max-width 100%
	max-height 100%