.player-select
	@extends .row, .align
	max-width 100%
	overflow auto

.player-card
	@extends .col
	overflow hidden
	min-width 200px
	width 200px
	height 425px
	background-color #fff
	margin 20px
	border-radius 5px
	box-shadow 0 1px 5px 0 rgba(0,0,0,0.3)
	transition all .3s ease
	
	.card-img
		width 200px
		height 200px
		overflow hidden
		background-color #34495e
	
	.card-text
		@extends .col
		padding 20px
		flex 1
	
	.detail
		@extends .col
		flex 1
		display none
		.description
			flex 1
			overflow auto
			margin 15px 0px
		button
			i
				vertical-align middle
			margin 0px
			color rgba(0, 0, 0, 0.7)
	
	.picked
		display none
	
	&:hover
		cursor pointer
		z-index 5
		border none
		box-shadow 0 1px 15px 0 rgba(0,0,0,0.5)
		transform translate3D(0, -5px, 0)
	
	&.selected
		@extends .row
		width 600px
		height 500px
		cursor auto
		
		.card-img
			height 100%

		.detail
			display flex
		
.props
	@extends .col
	.prop
		@extends .row
		margin 5px 0px
		
		.material-icons
			color white
			padding 2px
		.value
			transition 0.3s width ease
		
		&.hp
			.ico
				background-color #27ae60
			.value
				background-color #2ecc71
		&.speed
			.ico
				background-color #c0392b
			.value
				background-color #e74c3c
		&.jump
			.ico
				background-color #2980b9
			.value
				background-color #3498db